html {
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-container{
    background-color: rgb(55, 0, 255);
    height: 100px;
    width: 100%;
}

.ul-navbar {
     display: flex;
     justify-content: center;
     height: 100px;
     align-items: center;
   
}
.li-navbar {

  list-style-type: none;
  padding: 20px;
  margin: 5px;
  color: rgb(0, 0, 0);
  font-size: 30px 
  ;
}

.container-content {
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;

}

.img-content {
   width: 30vh;
   height: 30vh;
   box-shadow: 10px 20px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 20px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 20px 5px 1px rgba(0,0,0,0.75);
}

.container-footer {
   background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1-fotter {
   font-size: 40px;
}

.a-navbar
{
    text-decoration: none;
    color: black;

}

.li-navbar:hover {
    background-color: white;
    transition: .2s ease-in-out;
       transition-delay: .1s;
border-radius: 8px;

}
.gambar-depsa-about-school {
     display: flex;
     justify-content: center;
     height: 100px;
     align-items: center;
    
}